{% extends 'base.html.twig' %}

{% block title %}
    Bet eSport
{% endblock %}

{% block body %}

<div class="menu">

    <a href="">Direct</a>&emsp;<a href="">Shop</a>&emsp;<a href="">Paramètres</a>

</div>

<div>
    <a class="lolicone" href=""/>
</div>

<div>
    <a class="valoicone" href=""/>
</div>

<div>
    <a class="overwatchicone" href=""/>
</div>
{% endblock %}
