
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    <nav class="nav bg-dark justify-content-center">
        <a class="nav-link text-light">VC</a>     
    </nav>
    <div class="vertical-nav bg-dark" id="sidebar">
    <div class="py-4 px-5 mb-10 bg-dark">
        <div class="media d-flex align-items-center"><a href="/accueil"><img  class="logo"></a>
    </div>

    <p class="position-fixed align-items-end text-light font-weight-bold text-uppercase px-3 large py-4 mb-0" style="right: 1760px; bottom: 660px"><a href="#"><img  class="logoLol" ></a></p>

    <p class="position-fixed align-items-end text-light font-weight-bold text-uppercase px-3 large py-4 mb-0" style="right: 1760px; bottom: 510px"><a href="#"><img  class="logoValo" href="#"></a></p>

    <p class="position-fixed align-items-end text-light font-weight-bold text-uppercase px-3 large py-4 mb-0" style="right: 1760px; bottom: 360px"><a href="#"><img  class="logoOver" href="#"></a></p>


    <p class="position-fixed align-items-end text-light font-weight-bold text-uppercase px-3 large py-4 mb-0" style="right: 1755px; bottom: 50px"><a href="#"><img  class="logoParam" href="#"></a></p>


  </div>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>